/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5f67c6;
    color: #fff;
    padding: 10px 20px; /* Increased padding for better spacing */
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center; /* Vertically centers items */
}

.logo {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px; /* Adjusted margin to separate items */
}

nav ul li:first-child {
    margin-left: 0; /* No margin for the first item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}

.hamburger {
    display: none;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="number"],
form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #5f67c6;
    color: #fff;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #5f67c6;
}

footer {
    background-color: #5f67c6;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0; /* No margin for the last item */
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    color: #ffd700;
}
